[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity temporäre Ordner
Library/
Temp/
Build/
Builds/
Logs/
MemoryCaptures/
*.csproj
*.sln
.vs/
